# program start
#br $8184

# loader bank switching routine
#br $8001

# program functions
#br {_init_memory}
#br {_init_sp1}
#br {_init_interrupts}
#br {_init_datasets}
br {_dataset_activate}
br {_init_controllers}
br {_init_hero}
br {_init_bullets}
br {_run_main_game_loop}
